.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 20px 15px;
   background-color: #ffffff;
   border-radius: 10px;

   &:not(:last-child) {
      margin-bottom: 30px;
   }

   .top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid #e8e8e8;

      .data {
         color: #2d2d2d;
         font-size: 18px;
      }

      .delete {
         position: relative;
         width: 25px;
         height: 25px;

         &::before {
            position: absolute;
            top: -6px;
            left: -6px;
            color: #2d2d2d;
            color: #cccccc;
            font-size: 35px;
            font-family: 'IcoFont';
            cursor: pointer;
            transition-duration: 0.3s;
            content: '\eee4';
         }

         &:hover::before {
            color: #2d2d2d;
         }
      }
   }

   .content {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid #e8e8e8;

      .text {
         color: #000000;
         font-size: 20px;
         line-height: 25px;
      }
   }

   .bottom {
      display: flex;
      justify-content: center;
      width: 100%;
   }
}
