.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 20px 15px;
   background-color: #fff;
   border-radius: 10px;

   &:not(:last-child) {
      margin-bottom: 30px;
   }

   .top {
      display: flex;
      align-items: flex-end;
      justify-content: left;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid #e8e8e8;

      .data {
         color: #2d2d2d;
         font-size: 18px;
      }
   }

   .content {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid #e8e8e8;

      .text {
         color: black;
         font-size: 20px;
         line-height: 25px;
      }
   }

   .bottom {
      display: flex;
      justify-content: center;
      width: 100%;
   }
}
