.wrapper {
   display: flex;

   &:not(:last-child) {
      margin-bottom: 25px;
   }

   .imageContainer {
      width: 100%;
      max-width: 50px;
      height: 50px;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 10px;

      .image {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;

      .info {
         display: flex;
         justify-content: space-between;
         margin-bottom: 10px;

         .fullname {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.5px;
         }

         .time {
            color: #a6a6a6;
            font-size: 16px;
         }
      }

      .text {
         font-size: 20px;
         line-height: 25px;
      }
   }
}
