.avatar {
   // border: 1px solid black;
   max-width: 300px;
   min-width: 250px;
   min-height: 150px;
   max-height: 400px;
   margin-right: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   .avatarImage {
      width: 100%;
      max-height: 400px;
      object-fit: contain;
   }
}