.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-height: 100vh;
   padding: 20px 15px 30px;
   overflow: hidden;
   background-color: #d7e7fc;
}

.main {
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   width: 100%;

   .mainContainer {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-start;
      width: 100%;
      max-width: 1230px;
      margin: 0 auto;
   }
}

@media (max-width: 992px) {
   .wrapper {
      padding: 90px 15px 70px;
   }
}

@media (max-width: 487px) {
   .wrapper {
      padding: 80px 15px 70px;
   }
}
