.wrapper {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(170px, 170px));
   gap: 30px 20px;
   justify-content: center;
   width: 100%;
   max-width: 100%;
   background-color: #ffffff;
   border-radius: 10px;
}
