.wrapper {
   max-width: 600px;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
   .title {
      font-size: 60px;
      font-weight: 700;
      margin-right: 15px;
      transform: rotate(-1.5deg);
      color: #2d2d2d;
   }
   .logo {
      display: block;
      max-width: 140px;
      width: 100%;
      display: flex;
      align-items: center;
      .logoIcon {
         position: relative;
         max-width: 70px;
         height: 60px;
         width: 100%;
         &:after {
            font-family: "IcoFont";
            content: "\ed1d";
            position: absolute;
            font-size: 65px;
            color: #2d2d2d;
            left: -8px;
            transition: 0.3s;
         }
      }
      .logoText {
         color: #2d2d2d;
         font-size: 21px;
      }
   }
}