.wrapper {
   min-height: 100vh;
   width: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d7e7fc;
   padding: 50px 15px 100px 15px;
}