.wrapper {
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fill, minmax(150px, 215px));
   gap: 30px 20px;
   justify-content: center;
   width: 100%;
   max-width: 100%;
}
