.wrapper {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: calc(100% - 270px);
   max-width: 960px;
   height: 100%;
   padding: 20px 15px;
   background-color: #fff;
   border-radius: 10px;
}
