.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100vh;
   padding: 50px 15px 100px;
   overflow: hidden;
   background-color: #d7e7fc;

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 700px;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 10px;

      .forms {
         width: 100%;
         max-width: 600px;
         padding: 20px 15px;
         border: 1px solid #ccc;
         border-radius: 10px;
      }
   }
}
