.write {
   max-width: 100%;
   width: 100%;
   height: 45px;
   background-color: #d7e7fc;
   margin-bottom: 10px;
   font-size: 20px;
   border-radius: 5px;
   letter-spacing: 0.5px;
   transition-duration: 0.3s;
   position: relative;

   &:hover {
      background-color: #ccc;
      color: #ffffff;
   }

   &:active {
      transform: translateY(-5px);
   }

   &._pending {
      pointer-events: none;
      color: transparent;

      &:before {
         font-family: "IcoFont";
         content: "\efd1";
         position: absolute;
         font-size: 23px;
         color: #2d2d2d;
         top: 11px;
         left: calc(50% - 7px);
         transition-duration: 0.3s;
      }
   }
}
