.wrapper {
   display: flex;
   justify-content: space-between;

   .text {
      position: relative;
      width: 100%;
      max-width: 790px;
      margin-right: 20px;

      .textField {
         box-sizing: border-box;
         width: 100%;
         max-width: 790px;
         height: 45px;
         padding: 10px 15px;
         overflow: hidden;
         font-size: 20px;
         line-height: 20px;
         border: 1px solid #ccc;
         border-radius: 5px;
         resize: none;

         &::-webkit-scrollbar {
            width: 8px;
         }

         &::-webkit-scrollbar-track {
            background-color: #fffff0;
         }

         &::-webkit-scrollbar-thumb {
            background-color: lightgray;
         }

         &._auto {
            overflow: auto;
         }
      }

      .textFieldClone {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         max-width: 790px;
         height: auto;
         min-height: 45px;
         padding: 10px 15px;
         font-size: 20px;
         line-height: 20px;
         word-wrap: break-word;
         background-color: red;
         border: 1px solid #ccc;
         border-radius: 5px;
         opacity: 0;
         pointer-events: none;
      }
   }

   .send {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 45px;
      margin-bottom: 2px;
      font-size: 20px;
      letter-spacing: 0.5px;
      background-color: #d7e7fc;
      border-radius: 5px;
      transition-duration: 0.3s;

      &:hover {
         color: #fff;
         background-color: #ccc;
      }

      &:active {
         transform: translateY(-5px);
      }

      &._active {
         color: transparent;
         pointer-events: none;

         &::before {
            position: absolute;
            top: 10px;
            left: 40px;
            color: #2d2d2d;
            font-size: 23px;
            font-family: 'IcoFont';
            transition-duration: 0.3s;
            content: '\efd1';
         }
      }
   }
}
