.wrapper {
   width: 100%;
   padding: 20px 15px;
   background-color: #fff;
   border-radius: 10px;

   .title {
      margin-bottom: 20px;
      padding-bottom: 10px;
      color: #2d2d2d;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.5px;
      text-align: center;
      border-bottom: 2px solid #e8e8e8;
   }
}
