.wrapper {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 2px solid #e8e8e8;

   .title {
      margin-bottom: 20px;
      padding-bottom: 10px;
      color: #2d2d2d;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.5px;
      text-align: left;
      border-bottom: 2px solid #e8e8e8;
   }
}
