.wrapper {
   display: flex;
   align-items: center;

   .icon {
      width: 30px;
      height: 25px;
      position: relative;
      margin-right: 10px;

      &:before {
         font-family: "IcoFont";
         content: "\ef45";
         position: absolute;
         font-size: 35px;
         color: #2d2d2d;
         top: -6px;
         left: -3px;
         transition-duration: 0.3s;
         cursor: pointer;
         color: #2d2d2d;
      }

      &:hover:before {
         transform: scale(1.15, 1.15);
      }

      &._active {
         &:before {
            color: #f08080;
         }
      }
   }

   .number {
      font-size: 21px;
   }
}