.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 300px;
   min-height: 150px;
   max-height: 400px;
   margin-right: 50px;
   cursor: pointer;

   .avatarImage {
      width: 100%;
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
   }
}
