.navigation {
   max-width: 250px;
   width: 100%;
   background-color: #ffffff;
   padding: 20px 15px;
   border-radius: 10px;
   margin-right: 20px;
   .list {
      .listItem {
         position: relative;
         padding-left: 40px;
         height: 25px;
         // border: 1px solid black;
         .listLink {
            &:before {
               font-family: "IcoFont";
               content: "\ed1d";
               position: absolute;
               font-size: 25px;
               color: #2d2d2d;
               left: 0px;
               transition: 0.3s;
            }
            &:after {
               position: absolute;
               content: "My page";
               font-size: 22px;
               color: #2d2d2d;
               left: 0;
               top: 0;
               padding-left: 45px;
            }
         }
         &:hover {
            .listLink {
               &:before {
                  transform: scale(1.2, 1.2);
               }
            }
         }
         &:nth-child(1) {
            .listLink {
               &:before {
                  content: "\ecfd";
                  font-size: 20px;
                  top: 0px;
                  left: 2px;
               }
            }
         }
         &:nth-child(2) {
            .listLink {
               &:before {
                  content: "\efa7";
                  font-size: 24px;
                  top: -1px;
               }
               &:after {
                  content: "News";
               }
            }
         }
         &:nth-child(3) {
            .listLink {
               &:before {
                  content: "\eff2";
                  font-size: 24px;
                  top: -1px;
               }
               &:after {
                  content: "Messages";
               }
            }
         }
         &:nth-child(4) {
            .listLink {
               &:before {
                  content: "\ed08";
                  font-size: 24px;
                  top: -2px;
               }
               &:after {
                  content: "Friends";
               }
            }
         }
         &:nth-child(5) {
            .listLink {
               &:before {
                  content: "\efbc";
                  font-size: 24px;
                  top: -2px;
               }
               &:after {
                  content: "Photos";
               }
            }
         }
         &:nth-child(6) {
            .listLink {
               &:before {
                  content: "\ec82";
                  font-size: 24px;
                  top: -1px;
               }
               &:after {
                  content: "Search";
               }
            }
         }
         &:not(:last-child) {
            margin-bottom: 35px;
         }
      }
   }
}

@media (max-width: 992px) {
   .navigation {
      max-width: calc(100% - 30px);
      position: fixed;
      bottom: 0;
      left: 15px;
      z-index: 101;
      height: 50px;
      padding: 15px 15px 20px 15px;
      box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .list {
         display: flex;
         justify-content: space-between;
         padding-right: 25px;
         .listItem {
            padding-left: 0;
            .listLink {
               &:after {
                  content: "";
               }
            }
            &:nth-child(2) {
               .listLink {
                  &:after {
                     content: "";
                  }
               }
            }
            &:nth-child(3) {
               .listLink {
                  &:after {
                     content: "";
                  }
               }
            }
            &:nth-child(4) {
               .listLink {
                  &:after {
                     content: "";
                  }
               }
            }
            &:nth-child(5) {
               .listLink {
                  &:after {
                     content: "";
                  }
               }
            }
            &:nth-child(6) {
               .listLink {
                  &:after {
                     content: "";
                  }
               }
            }
         }
      }
   }
}