.navigation {
   width: 100%;
   max-width: 250px;
   height: 365px;
   margin-right: 20px;
   padding: 20px 15px;
   background-color: #ffffff;
   border-radius: 10px;

   .list {
      .listItem {
         position: relative;
         height: 25px;
         padding-left: 40px;
         cursor: pointer;

         .listLink {
            &::before {
               position: absolute;
               left: 0;
               color: #2d2d2d;
               font-size: 25px;
               font-family: 'IcoFont';
               transition: 0.3s;
               content: '\ed1d';
            }

            &::after {
               position: absolute;
               top: 0;
               left: 0;
               padding-left: 45px;
               color: #2d2d2d;
               font-size: 22px;
               content: 'My page';
            }
         }

         &:hover {
            .listLink {
               &::before {
                  transform: scale(1.2, 1.2);
               }
            }
         }

         &:nth-child(1) {
            .listLink {
               &::before {
                  top: 0;
                  left: 2px;
                  font-size: 20px;
                  content: '\ecfd';
               }
            }
         }

         &:nth-child(2) {
            .listLink {
               &::before {
                  top: -1px;
                  font-size: 24px;
                  content: '\efa7';
               }

               &::after {
                  content: 'News';
               }
            }
         }

         &:nth-child(3) {
            .listLink {
               &::before {
                  top: -1px;
                  font-size: 24px;
                  content: '\eff2';
               }

               &::after {
                  content: 'Messages';
               }
            }
         }

         &:nth-child(4) {
            .listLink {
               &::before {
                  top: -2px;
                  font-size: 24px;
                  content: '\ed08';
               }

               &::after {
                  content: 'Friends';
               }
            }
         }

         &:nth-child(5) {
            .listLink {
               &::before {
                  top: -2px;
                  font-size: 24px;
                  content: '\efbc';
               }

               &::after {
                  content: 'Photos';
               }
            }
         }

         &:nth-child(6) {
            .listLink {
               &::before {
                  top: -1px;
                  font-size: 24px;
                  content: '\ec82';
               }

               &::after {
                  content: 'Search';
               }
            }
         }

         &:not(:last-child) {
            margin-bottom: 35px;
         }
      }
   }
}

@media (max-width: 992px) {
   .navigation {
      position: fixed;
      bottom: 0;
      left: 15px;
      z-index: 101;
      max-width: calc(100% - 30px);
      height: 50px;
      padding: 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 0 0 8px 0 #223c5033;

      .list {
         display: flex;
         justify-content: space-between;
         padding-right: 25px;

         .listItem {
            padding-left: 0;

            .listLink {
               &::after {
                  content: '';
               }
            }

            &:nth-child(2) {
               .listLink {
                  &::after {
                     content: '';
                  }
               }
            }

            &:nth-child(3) {
               .listLink {
                  &::after {
                     content: '';
                  }
               }
            }

            &:nth-child(4) {
               .listLink {
                  &::after {
                     content: '';
                  }
               }
            }

            &:nth-child(5) {
               .listLink {
                  &::after {
                     content: '';
                  }
               }
            }

            &:nth-child(6) {
               .listLink {
                  &::after {
                     content: '';
                  }
               }
            }
         }
      }
   }
}
