.wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   max-width: 600px;
   margin-bottom: 40px;

   .tab {
      width: 100%;
      max-width: 150px;
      height: 45px;
      margin-right: 25px;
      font-size: 20px;
      letter-spacing: 0.5px;
      background-color: #d7e7fc;
      border-radius: 5px;
      transition-duration: 0.3s;

      &:hover {
         color: #ffffff;
         background-color: #cccccc;
      }

      &:active {
         transform: translateY(-5px);
      }
   }
}
